.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #1C8DF8 !important  ;
  
  .error {
    padding-bottom: 10px;
    color: red;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    input{
        border-radius: 10px;
    }
    .error-message{
        text-align: left;
        color: red;
    }
    .required {
      color: red;
      font-size: 20px;
      margin-top: 5px;
      position: absolute;
      margin-top: 17px;
      margin-left: 9px;
    }
    label {
      p {
        display: inline-block;
        margin-left: 3px;
        margin-bottom: 0px !important;
      }
      position: relative;
      text-align: left;
      font-weight: bold;
      width: 320px;
      padding-bottom: 5px;
    }

    .form-item {
      display: flex;
      align-items: center;

      label {
        text-align: left;
        font-weight: bold;
        width: 320px;
      }
      .question {
        width: 200px !important;
      }
    }
    margin-bottom: 30px;
  }

  .login-btn {
    width: 100%;
    background-color: #1c8df8;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
  }
}
